.pricing {
  margin-bottom: 85px;
  margin-left: 21px;
  margin-right: 20px;
  margin-top: -100px;
  
  &__top {
    display: flex;
    flex-direction: column;
    justify-content: center;

    &-title {
      font-weight: 600;
      font-size: 34px;
      line-height: 40.8px;
      color: $light-violet-color;
      margin: 0;
    }
  
    &-desc {
      font-weight: 300;
      font-size: 20px;
      line-height: 30px;
      color: $main-color;
      margin: 0;
      margin-top: 22px;
    }
  }

  &__content {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 48px;
  }

  &__list {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 28px;
    padding: 0;
  }

  &__item {
    background-color: $white-color;
    border-radius: 24px;
    box-shadow: 0px 14px 48px 0px #00000026;
    width: 200px;
    padding: 40px 36px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 320px;
    cursor: pointer;
    transition: transform 300ms ease;

    &:hover {
      transform: scale(1.05);

      .pricing__item-price {
        color: $second-light-color;
      }

      .pricing__item-button {
        background-color: $main-color;

        &--text {
          color: $white-color;
        }
      }
    }

    &-title {
      font-weight: 400;
      font-size: 20px;
      line-height: 30px;
      color: $main-color;
      text-align: center;
      margin: 0;
    }

    &-price {
      font-weight: 600;
      font-size: 34px;
      line-height: 40.8px;
      color: $main-color;
      text-align: center;
      margin: 0;
      margin-top: 14px;
    }

    &-period {
      font-weight: 500;
      font-size: 16px;
      line-height: 28.8px;
      color: $second-light-color;
      text-align: center;
      margin: 0;
    }

    &-desc {
      font-weight: 300;
      font-size: 16px;
      line-height: 28.8px;
      text-align: center;
      margin: 0;
      margin-top: 20px;
      width: 180px;
    }

    &-button {
      background-color: $white-color;
      border: 1px $main-color solid;
      border-radius: 24px;
      width: 200px;
      height: 34px;
      margin-top: 16px;
      cursor: pointer;

      &--text {
        font-weight: 600;
        font-size: 21px;
        line-height: 31.5px;
        margin: 0;
        text-align: center;
        color: $main-color;
      }
    }
  }
}