$main-color: #3D2E87;
$secondary-color: #843FD0;
$background-color: #6727AD;
$violet-color: #4A2E96;
$light-violet-color: #6C2EB9;
$second-light-color: #7A2DCB;
$third-light-color: #8036CE;
$white-color: #FFFFFF;

@import '../src/styles/header';
@import '../src/styles/menu';
@import '../src/styles/features';
@import '../src/styles/information';
@import '../src/styles/reviews';
@import '../src/styles/pricing';
@import '../src/styles/download';
@import '../src/styles/footer';

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Encode Sans", sans-serif;
  overflow-x: hidden;
}

@media (min-width: 390px) {
  .header {
    &__bottom {
      &-img {
        margin-left: 85px;
        margin-right: 51px;
      }
    }
  }
  .page__menu {
    width: auto;

    &-list {
      font-size: 15px;
    }
  }

  .features {
    &__item {
      padding: 52px 40px;

      &:hover {
        padding: 48px;
      }
    }
  }

  .information {
    &-design {
      &-right {
        &__desc {
          width: 367px;
        }
      }

      &-phone {
        width: auto;
      }
    }

    &-time {
      &__right {
        &-desc {
          width: 367px;
        }
      }
    }
  }

  .reviews {
    &__bottom {
      &-review {
        &--list {
          margin: 0 19px;
        }

        &--item {
          padding: 48px 24px;
        }
      }
    }
  }

  .pricing {
    &__top {
      &-desc {
        width: 348px;
      }
    }

    &__item {
      width: 260px;
      padding: 58px 46px;

      &-price {
        margin-top: 34px;
      }

      &-desc {
        width: auto;
      }

      &-button {
        width: 223px;
        height: 44px;
        margin-top: 46px;
      }
    }
  }

  .footer {
    &__badges {
      &-list {
        gap: 20px;
      }

      &-item {
        &--badge {
          width: 164px;
          height: 50px;
        }
      }
    }

    &__menu {
      &-list {
        gap: 49px;
      }
    }
  }
}

@media (min-width: 1280px) {
  .header {
    background-size: 
      contain,
      cover;
    background-position: 
      right 200px top, 
      center;

    padding-top: 55.5px;
    padding-left: 142.22px;
    padding-right: 138.67px;

    &__top {
      &-list {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 38px;
        list-style-type: none;
        margin-right: 48px;
      }

      &-phone {
        display: none;
      }
  
      &-item {
        font-weight: 300;
        font-size: 16px;
        line-height: 24px;
        color: white;
        text-decoration: none;
      }
    }

    &__bottom {
      flex-direction: row;
  
      &-img {
        margin-top: 91px;
        margin-left: 317.56px;
        z-index: 1;
      }
    }
  }

  .page__menu {
    display: none;
  }

  .background {
    margin-top: -120px;
  }

  .features {
    margin-top: 64.78px;
    margin-left: 139px;
    margin-right: 138px;
    height: 300px;

    &__list {
      flex-direction: row;
      gap: 18px;
    }

    &__item {
      padding: 40px;
      overflow: hidden;
      transition: transform 0.9s ease;
      width: 324px;

      &:hover {
        transform: translateY(35px);
      }
    }

    &-desc {
      width: 290px;
    }
  }

  .information {
    margin-top: 202px;
    background-image: url(images/vector-3.svg), url(images/vector-4.svg);
    background-size: contain, contain;
    background-repeat: no-repeat, no-repeat;
    background-position: 0 0, center 350px;

    &-design {
      margin-left: 139px;
      flex-direction: row;
  
      &-left {
        display: block;
        position: relative;
        overflow: visible;
  
        &__ellipse {
          width: 100%;
          height: 100%;
        }
  
        &__images {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;
          position: absolute;
          top: 20%;
          right: 0%;
  
          &-two {
            margin-left: -20px;
          }
        }
      }

      &-phone {
        display: none;
      }
    }

    &-time {
      margin-left: 256px;
      margin-right: 212px;
      margin-top: 160px;
      flex-direction: row;

      &__right {
        margin-top: 0;        
      }
    }
  }

  .reviews {
    &__top {
      flex-direction: row;
      align-items: center;
      margin-left: 139px;
      margin-right: 139px;

      &-title {
        margin: 0;
      }

      &-images {
        gap: 58px;
      }
    }

    &__bottom {
      margin-top: 113px;
  
      &-review {
        background-image: url(images/bg.svg);
        min-height: 587px;
        width: auto;
        margin-left: 65px;
        margin-right: 65px;

        &--list {
          gap: 36px;
          top: 118px;
          padding: 0;
          margin: 0;
        }

        &--item {
          padding: 58px 36px;
          height: 180px;
          width: 486px;
  
          &:hover {
            height: 210px;
  
            .reviews__bottom-review--top-text-name {
              color: #843FD0;
            }
          }
        }

        &--person {
          position: absolute;
          top: -40px;
        }

        
      &--top {
        &-text {
          &-name {
            font-size: 21px;
            line-height: 31.5px;
          }

          &-about {
            font-size: 16px;
            line-height: 24px;
            width: 182px;
          }
        }

        &-stars {
          align-self: flex-start;
          padding-top: 8px;
        }
      }

        &--desc {
          font-size: 16px;
          line-height: 28.8px;
          margin: 0;
          margin-top: 30px;
          width: 490px;
        }
      }
    }
  }

  .pricing {
    margin-bottom: 128px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -200px;
    
    &__top {
      align-items: center;
    
      &-desc {
        width: 539px;
        margin: 0;
        text-align: center;
        margin-top: 40px;
      }
    }
    
    &__content {
      margin-top: 74px;
    }

    &__list {
      flex-direction: row;
      gap: 10px;
    }

    
    &__item {
      width: 362px;
      padding: 68px 28px;
      height: 422px;

      &:hover {
        transform: scale(1.1);
      }

      &-title {
        font-size: 25px;
        line-height: 45px;
      }

      &-price {
        font-size: 40px;
        line-height: 72px;
        margin-top: 52px;
      }

      &-desc {
        font-size: 18px;
        line-height: 32.4px;
        margin-top: 40px;
      }

      &-button {
        margin-top: 68px;
      }
    }
  }

  .download {
    background-size: contain;
    width: 1150px;

    &__content {
      &-title {
        line-height: 40.8px;
        margin-top: 79px;
        width: auto;
      }
  
      &-button {
        margin-bottom: 80px;
      }
    }
  }

  .footer {
    margin-top: 102px;
    flex-direction: row;
    align-items: center;
    margin-left: 139px;
    margin-right: auto;

    &__badges {
      margin-top: -70px;

      &-list {
        gap: 14px;
        margin-top: 57px;
      }

      &-item {
        &--badge {
          width: 139px;
          height: 42px;
        }
      }
    }

    &__menu {
      margin-left: 44px;
  
      &-list {
        gap: 92px;
        margin: 0;
      }
  
      &-item {
        &--title {
          height: 16px;
        }
  
        &--list {
          margin-top: 28px;
        }
      }
    }
  
    &__language {
      align-self: flex-start;
      margin-left: 62px;
      order: 1;
    }
  }

  .copyright {
    align-items: flex-end;
    margin-bottom: 100px;
    margin-left: 148px;
  
    &__text {
      margin-top: -27px;
    }
  }
}

@media (min-width: 1440px) {
  .header {
    padding-left: 160px;
    padding-right: 156px;

    &__bottom {
      &-img {
        margin-top: 93px;
        margin-left: 352px;
      }
    }
  }

  .features {
    margin-top: 98.78px;
    margin-left: 146px;
    margin-right: 147px;

    &__list {
      gap: 20px;
    }
  }

  .information {
    margin-top: 197px;
    padding-top: 26px;

    &-design {
      margin-left: 148px;
    }

    &-time {
      margin-left: 248px;
      margin-right: 178px;
      margin-top: 95px;
    }
  }

  .reviews {
    &__top {
      margin-left: 148px;
      margin-right: 168px;
    }

    &__bottom {
      &-review {
        margin-left: 55px;
        margin-right: 55px;

        &--item {
          padding: 58px 54px;
        }
      }
    }
  }

  .pricing {
    margin-bottom: 163px;

    &__item {
      width: 362px;
      padding: 80px 54px;
      height: 422px;
    }

    &__content {
      margin-left: 0;
    }
  }

  .download {
    width: 1330px;
  }

  .footer {
    margin-top: 185px;
    margin-left: 148px;
    margin-right: 95px;

    &__menu {
      margin-left: 222px;
    }
  }
}